kubeVersionOverride: null
global:
  imageRegistry: null
  image:
    registry: null
  priorityClassName: null
  clusterDomain: "cluster.local"
  dnsService: "kube-dns"
  dnsNamespace: "kube-system"
  extraArgs: []
  extraEnv: []
  extraEnvFrom:
    - secretRef:
        name: loki-s3
  extraVolumes: []
  extraVolumeMounts: []
nameOverride: null
fullnameOverride: null
namespaceOverride: logging
clusterLabelOverride: null
imagePullSecrets: []
# - SingleBinary: Loki is deployed as a single binary, useful for small installs typically without HA, up to a few tens of GB/day.
# - SimpleScalable: Loki is deployed as 3 targets: read, write, and backend. Useful for medium installs easier to manage than distributed, up to a about 1TB/day.
# - Distributed: Loki is deployed as individual microservices. The most complicated but most capable, useful for large installs, typically over 1TB/day.
deploymentMode: SingleBinary
loki:
  livenessProbe: {}
  readinessProbe:
    httpGet:
      path: /ready
      port: http-metrics
    periodSeconds: 10
    initialDelaySeconds: 15
    successThreshold: 1
    failureThreshold: 3
    timeoutSeconds: 1
  startupProbe: {}
  image:
    registry: docker.io
    repository: grafana/loki
    tag: 3.6.3
    digest: null
    pullPolicy: IfNotPresent
  annotations: {}
  podAnnotations: {}
  podLabels: {}
  serviceAnnotations: {}
  serviceLabels: {}
  revisionHistoryLimit: 10
  podSecurityContext:
    fsGroup: 10001
    fsGroupChangePolicy: OnRootMismatch
    runAsGroup: 10001
    runAsNonRoot: true
    runAsUser: 10001
  containerSecurityContext:
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
    allowPrivilegeEscalation: false
  enableServiceLinks: true
  dnsConfig: {}
  configStorageType: ConfigMap
  configObjectName: '{{ include "loki.name" . }}'
  generatedConfigObjectName: '{{ include "loki.name" . }}'
  config: |
    {{- if .Values.enterprise.enabled}}
    {{- tpl .Values.enterprise.config . }}
    {{- else }}
    auth_enabled: {{ .Values.loki.auth_enabled }}
    {{- end }}

    {{- with .Values.loki.server }}
    server:
      {{- toYaml . | nindent 2}}
    {{- end}}

    {{- with .Values.loki.pattern_ingester }}
    pattern_ingester:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    memberlist:
    {{- if .Values.loki.memberlistConfig }}
      {{- toYaml .Values.loki.memberlistConfig | nindent 2 }}
    {{- else }}
    {{- if .Values.loki.extraMemberlistConfig}}
    {{- toYaml .Values.loki.extraMemberlistConfig | nindent 2}}
    {{- end }}
      join_members:
        - {{ include "loki.memberlist" . }}.{{ include "loki.namespace" $ }}.svc.{{ .Values.global.clusterDomain }}
        {{- with .Values.migrate.fromDistributed }}
        {{- if .enabled }}
        - {{ .memberlistService }}
        {{- end }}
        {{- end }}
    {{- end }}

    {{- with .Values.loki.ingester }}
    ingester:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.ingester_client }}
    ingester_client:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.block_builder }}
    block_builder:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- if .Values.loki.commonConfig}}
    common:
    {{- toYaml .Values.loki.commonConfig | nindent 2}}
      storage:
      {{- include "loki.commonStorageConfig" . | nindent 4}}
    {{- end}}

    {{- with .Values.loki.limits_config }}
    limits_config:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    runtime_config:
      file: /etc/loki/runtime-config/runtime-config.yaml

    {{- if .Values.chunksCache.enabled }}
    {{- with .Values.chunksCache }}
    chunk_store_config:
      chunk_cache_config:
        default_validity: {{ .defaultValidity }}
        background:
          writeback_goroutines: {{ .writebackParallelism }}
          writeback_buffer: {{ .writebackBuffer }}
          writeback_size_limit: {{ .writebackSizeLimit }}
        memcached:
          batch_size: {{ .batchSize }}
          parallelism: {{ .parallelism }}
        memcached_client:
          addresses: {{ .addresses }}
          consistent_hash: true
          timeout: {{ .timeout }}
          max_idle_conns: 72
      {{- end }}
      {{- with .Values.chunksCache.l2 }}
      {{- if .enabled }}
      l2_chunk_cache_handoff: {{ .l2ChunkCacheHandoff }}
      chunk_cache_config_l2:
        default_validity: {{ .defaultValidity }}
        background:
          writeback_goroutines: {{ .writebackParallelism }}
          writeback_buffer: {{ .writebackBuffer }}
          writeback_size_limit: {{ .writebackSizeLimit }}
        memcached:
          batch_size: {{ .batchSize }}
          parallelism: {{ .parallelism }}
        memcached_client:
          addresses: {{ .addresses }}
          consistent_hash: true
          timeout: {{ .timeout }}
          max_idle_conns: 72
      {{- end }}
      {{- end }}
    {{- end }}

    {{- if .Values.loki.schemaConfig }}
    schema_config:
    {{- toYaml .Values.loki.schemaConfig | nindent 2}}
    {{- end }}

    {{- if .Values.loki.useTestSchema }}
    schema_config:
    {{- toYaml .Values.loki.testSchemaConfig | nindent 2}}
    {{- end }}

    {{- if .Values.ruler.enabled }}
    {{ include "loki.rulerConfig" . }}
    {{- end }}

    {{- if and .Values.loki.storage.use_thanos_objstore .Values.ruler.enabled}}
    ruler_storage:
      {{- include "loki.rulerThanosStorageConfig" . | nindent 2 }}
    {{- end }}

    {{- if or .Values.tableManager.retention_deletes_enabled .Values.tableManager.retention_period }}
    table_manager:
      retention_deletes_enabled: {{ .Values.tableManager.retention_deletes_enabled }}
      retention_period: {{ .Values.tableManager.retention_period }}
    {{- end }}

    query_range:
      align_queries_with_step: true
      {{- with .Values.loki.query_range }}
      {{- tpl (. | toYaml) $ | nindent 2 }}
      {{- end }}
      {{- if .Values.resultsCache.enabled }}
      {{- with .Values.resultsCache }}
      cache_results: true
      results_cache:
        cache:
          default_validity: {{ .defaultValidity }}
          background:
            writeback_goroutines: {{ .writebackParallelism }}
            writeback_buffer: {{ .writebackBuffer }}
            writeback_size_limit: {{ .writebackSizeLimit }}
          memcached_client:
            addresses: {{ .addresses }}
            consistent_hash: true
            timeout: {{ .timeout }}
            update_interval: 1m
      {{- end }}
      {{- end }}

    {{- with .Values.loki.storage_config }}
    storage_config:
        {{- if not (hasKey $.Values.loki.storage_config "use_thanos_objstore") }}
        use_thanos_objstore: {{ $.Values.loki.storage.use_thanos_objstore }}
        {{- end }}
        {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.query_scheduler }}
    query_scheduler:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.compactor }}
    compactor:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.compactor_grpc_client }}
    compactor_grpc_client:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.analytics }}
    analytics:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- if .Values.loki.ui.enabled }}
    ui:
      enabled: true
    {{- end }}
    {{- with .Values.loki.querier }}
    querier:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.index_gateway }}
    index_gateway:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.frontend }}
    frontend:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.frontend_worker }}
    frontend_worker:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.distributor }}
    distributor:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    tracing:
      enabled: {{ .Values.loki.tracing.enabled }}

    {{- with .Values.loki.bloom_build }}
    bloom_build:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.bloom_gateway }}
    bloom_gateway:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}

    {{- with .Values.loki.operational_config }}
    operational_config:
      {{- tpl (. | toYaml) $ | nindent 4 }}
    {{- end }}
  auth_enabled: true
  memberlistConfig: {}
  extraMemberlistConfig: {}
  tenants: []
  # -- Check https://grafana.com/docs/loki/latest/configuration/#server for more info on the server configuration.
  server:
    http_listen_port: 3100
    grpc_listen_port: 9095
    http_server_read_timeout: 600s
    http_server_write_timeout: 600s
  service:
    # Ref: https://kubernetes.io/docs/concepts/services-networking/service/#traffic-distribution
    trafficDistribution: ""
  limits_config:
    reject_old_samples: true
    reject_old_samples_max_age: 168h
    max_cache_freshness_per_query: 10m
    split_queries_by_interval: 15m
    query_timeout: 300s
    volume_enabled: true
  runtimeConfig: {}
  # -- Check https://grafana.com/docs/loki/latest/configuration/#common_config for more info on how to provide a common configuration
  commonConfig:
    path_prefix: /var/loki
    replication_factor: 1
    compactor_grpc_address: '{{ include "loki.compactorAddress" . }}'
  storage:
    type: s3
    bucketNames:
      chunks: ${S3_BUCKET}
      ruler: ${S3_BUCKET}
      admin: ${S3_BUCKET}
    s3:
      s3: null
      endpoint: ${S3_ENDPOINT}
      region: ${AWS_REGION}
      secretAccessKey: null
      accessKeyId: null
      signatureVersion: null
      s3ForcePathStyle: true
      insecure: false
      http_config: {}
      # -- Check https://grafana.com/docs/loki/latest/configure/#s3_storage_config for more info on how to provide a backoff_config
      backoff_config: {}
      disable_dualstack: false
    gcs:
      chunkBufferSize: 0
      requestTimeout: "0s"
      enableHttp2: true
    azure:
      accountName: null
      accountKey: null
      connectionString: null
      useManagedIdentity: false
      useFederatedToken: false
      userAssignedId: null
      requestTimeout: null
      endpointSuffix: null
      chunkDelimiter: null
    swift:
      auth_version: null
      auth_url: null
      internal: null
      username: null
      user_domain_name: null
      user_domain_id: null
      user_id: null
      password: null
      domain_id: null
      domain_name: null
      project_id: null
      project_name: null
      project_domain_id: null
      project_domain_name: null
      region_name: null
      container_name: null
      max_retries: null
      connect_timeout: null
      request_timeout: null
    filesystem:
      chunks_directory: /var/loki/chunks
      rules_directory: /var/loki/rules
    use_thanos_objstore: false
    object_store:
      type: s3
      storage_prefix: null
      s3:
        endpoint: ${S3_ENDPOINT}
        region: ${AWS_REGION}
        access_key_id: null
        secret_access_key: null
        insecure: false
        sse: {}
        http: {}
      gcs:
        bucket_name: null
        service_account: null
      azure:
        account_name: null
        account_key: null
  # -- Check https://grafana.com/docs/loki/latest/configuration/#schema_config for more info on how to configure schemas
  schemaConfig:
    configs:
      - from: 2024-04-01
        object_store: s3
        store: tsdb
        schema: v13
        index:
          prefix: index_
          period: 24h
  useTestSchema: false
  testSchemaConfig:
    configs:
      - from: 2024-04-01
        store: tsdb
        object_store: '{{ include "loki.testSchemaObjectStore" . }}'
        schema: v13
        index:
          prefix: index_
          period: 24h
  # -- Check https://grafana.com/docs/loki/latest/configuration/#ruler for more info on configuring ruler
  rulerConfig:
    wal:
      dir: /var/loki/ruler-wal
  structuredConfig: {}
  query_scheduler: {}
  storage_config:
    boltdb_shipper:
      index_gateway_client:
        server_address: '{{ include "loki.indexGatewayAddress" . }}'
    tsdb_shipper:
      index_gateway_client:
        server_address: '{{ include "loki.indexGatewayAddress" . }}'
    bloom_shipper:
      working_directory: /var/loki/data/bloomshipper
    hedging:
      at: "250ms"
      max_per_second: 20
      up_to: 3
  compactor: {}
  compactor_grpc_client: {}
  pattern_ingester:
    enabled: false
  analytics: {}
  ui:
    enabled: false
    gateway:
      enabled: true
  query_range: {}
  querier: {}
  ingester: {}
  ingester_client: {}
  block_builder: {}
  index_gateway:
    mode: simple
  frontend:
    scheduler_address: '{{ include "loki.querySchedulerAddress" . }}'
    tail_proxy_url: '{{ include "loki.querierAddress" . }}'
  frontend_worker:
    scheduler_address: '{{ include "loki.querySchedulerAddress" . }}'
  distributor: {}
  tracing:
    enabled: false
  bloom_build:
    enabled: false
    builder:
      planner_address: '{{ include "loki.bloomPlannerAddress" . }}'
  bloom_gateway:
    enabled: false
    client:
      addresses: '{{ include "loki.bloomGatewayAddresses" . }}'
  # -- Optional operational configuration
  operational_config: {}
chunksCache:
  enabled: false
resultsCache:
  enabled: false
test:
  enabled: true
  canaryServiceAddress: 'http://{{ include "loki-canary.fullname" $ }}.{{ include "loki.namespace" $ }}.svc.{{ .Values.global.clusterDomain }}:3500/metrics'
  prometheusAddress: ""
  timeout: 1m
  labels: {}
  annotations: {}
  image:
    registry: docker.io
    repository: grafana/loki-helm-test
    tag: "latest"
    digest: null
    pullPolicy: IfNotPresent
  hostUsers: nil
lokiCanary:
  enabled: true
  kind: DaemonSet
  push: true
  lokiurl: null
  labelname: pod
  annotations: {}
  podLabels: {}
  service:
    annotations: {}
    labels: {}
  extraArgs: []
  extraEnv: []
  extraEnvFrom: []
  extraVolumeMounts: []
  extraVolumes: []
  resources: {}
  dnsConfig: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}
  priorityClassName: null
  hostUsers: nil
  image:
    registry: docker.io
    repository: grafana/loki-canary
    tag: null
    digest: null
    pullPolicy: IfNotPresent
  livenessProbe:
  readinessProbe:
    httpGet:
      path: /metrics
      port: http-metrics
    initialDelaySeconds: 15
    timeoutSeconds: 1
  startupProbe:
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
  replicas: 1
serviceAccount:
  create: true
  name: null
  imagePullSecrets: []
  annotations: {}
  labels: {}
  automountServiceAccountToken: true
rbac:
  pspEnabled: false
  sccEnabled: false
  sccAllowHostDirVolumePlugin: false
  # Ref: https://kubernetes.io/docs/reference/access-authn-authz/psp-to-pod-security-standards/#podsecuritypolicy-annotations
  pspAnnotations: {}
  namespaced: false
networkPolicy:
  enabled: false
  flavor: kubernetes
  metrics:
    podSelector: {}
    namespaceSelector: {}
    cidrs: []
  ingress:
    podSelector: {}
    namespaceSelector: {}
  alertmanager:
    port: 9093
    podSelector: {}
    namespaceSelector: {}
  externalStorage:
    ports: []
    cidrs: []
  discovery:
    port: null
    podSelector: {}
    namespaceSelector: {}
  egressWorld:
    enabled: false
  egressKubeApiserver:
    enabled: false
memberlist:
  service:
    publishNotReadyAddresses: false
    annotations: {}
migrate:
  fromDistributed:
    enabled: false
    memberlistService: ""
singleBinary:
  replicas: 1
  autoscaling:
    enabled: false
    minReplicas: 1
    maxReplicas: 3
    targetCPUUtilizationPercentage: 60
    targetMemoryUtilizationPercentage:
  image:
    registry: null
    repository: null
    tag: null
  priorityClassName: null
  annotations: {}
  podAnnotations: {}
  podLabels: {}
  selectorLabels: {}
  service:
    annotations: {}
    labels: {}
    type: "ClusterIP"
    trafficDistribution: ""
  targetModule: "all"
  extraArgs:
    - -config.expand-env=true
  extraEnv: []
  extraEnvFrom:
    - secretRef:
        name: loki-s3
  extraContainers: []
  initContainers: []
  extraVolumeMounts: []
  extraVolumes: []
  resources: {}
  terminationGracePeriodSeconds: 30
  hostUsers: nil
  affinity:
    podAntiAffinity:
      requiredDuringSchedulingIgnoredDuringExecution:
        - labelSelector:
            matchLabels:
              app.kubernetes.io/component: single-binary
              app.kubernetes.io/name: '{{ include "loki.name" . }}'
              app.kubernetes.io/instance: '{{ .Release.Name }}'
          topologyKey: kubernetes.io/hostname
  topologySpreadConstraints: []
  dnsConfig: {}
  nodeSelector: {}
  tolerations: []
  persistence:
    whenScaled: Delete
    whenDeleted: Delete
    enableStatefulSetAutoDeletePVC: true
    enableStatefulSetRecreationForSizeChange: false
    enabled: true
    accessModes:
      - ReadWriteOnce
    size: 10Gi
    storageClass: kadalu.kadalu-pool-replica3
    selector: null
    annotations: {}
    labels: {}
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0
distributor:
  replicas: 0
ingester:
  replicas: 0
querier:
  replicas: 0
queryFrontend:
  replicas: 0
queryScheduler:
  replicas: 0
indexGateway:
  replicas: 0
compactor:
  replicas: 0
