global:
  imageRegistry: ""
  imagePullSecrets: []
  defaultStorageClass: ""
  security:
    allowInsecureImages: false
  compatibility:
    openshift:
      adaptSecurityContext: auto
    omitEmptySeLinuxOptions: false
kubeVersion: ""
apiVersions: []
nameOverride: ""
fullnameOverride: ""
namespaceOverride: ""
commonLabels: {}
commonAnnotations: {}
clusterDomain: cluster.local
extraDeploy: []
diagnosticMode:
  enabled: false
  command:
    - sleep
  args:
    - infinity
useHelmHooks: true
usePasswordFiles: true
image:
  registry: docker.io
  repository: bitnami/keycloak
  tag: 26.3.3-debian-12-r0
  digest: ""
  ## ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
  pullPolicy: IfNotPresent
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
  pullSecrets: []
  debug: false
## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#admin-credentials
auth:
  adminUser: admin
  adminPassword: ""
  existingSecret: "keycloak-helm"
  passwordSecretKey: "admin-password"
  annotations: {}
production: false
tls:
  enabled: false
  usePemCerts: false
  autoGenerated:
    enabled: true
    engine: helm
    certManager:
      existingIssuer: ""
      existingIssuerKind: ""
      keySize: 2048
      keyAlgorithm: RSA
      duration: 2160h
      renewBefore: 360h
  existingSecret: ""
  certFilename: "tls.crt"
  certKeyFilename: "tls.key"
  keystoreFilename: "keycloak.keystore.jks"
  truststoreFilename: "keycloak.truststore.jks"
  keystorePassword: ""
  truststorePassword: ""
  passwordsSecret: ""
## ref: https://www.keycloak.org/server/keycloak-truststore
trustedCertsExistingSecret: ""
adminRealm: "master"
proxyHeaders: ""
hostnameStrict: false
httpEnabled: false
httpRelativePath: "/"
cache:
  enabled: true
  stack: jdbc-ping
  configFile: "cache-ispn.xml"
  useHeadlessServiceWithAppVersion: false
  javaOptsAppendExtra: ""
## ref: https://www.keycloak.org/server/logging
logging:
  output: default
  level: INFO
configuration: ""
existingConfigmap: ""
extraStartupArgs: ""
## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#initializing-a-new-instance
initdbScripts: {}
initdbScriptsConfigMap: ""
command: []
args: []
extraEnvVars: []
extraEnvVarsCM: ""
extraEnvVarsSecret: ""
containerPorts:
  http: 8080
  https: 8443
  management: 9000
extraContainerPorts: []
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
podSecurityContext:
  enabled: true
  fsGroupChangePolicy: Always
  sysctls: []
  supplementalGroups: []
  fsGroup: 1001
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
containerSecurityContext:
  enabled: true
  seLinuxOptions: {}
  runAsUser: 1001
  runAsGroup: 1001
  runAsNonRoot: true
  privileged: false
  readOnlyRootFilesystem: true
  allowPrivilegeEscalation: false
  capabilities:
    drop: ["ALL"]
  seccompProfile:
    type: "RuntimeDefault"
## ref: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
resourcesPreset: "small"
resources: {}
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-liveness-readiness-startup-probes/#configure-probes
livenessProbe:
  enabled: true
  initialDelaySeconds: 120
  periodSeconds: 1
  timeoutSeconds: 5
  failureThreshold: 3
  successThreshold: 1
readinessProbe:
  enabled: true
  initialDelaySeconds: 30
  periodSeconds: 10
  timeoutSeconds: 1
  failureThreshold: 3
  successThreshold: 1
startupProbe:
  enabled: false
  initialDelaySeconds: 30
  periodSeconds: 5
  timeoutSeconds: 1
  failureThreshold: 10
  successThreshold: 1
customLivenessProbe: {}
customReadinessProbe: {}
customStartupProbe: {}
replicaCount: 1
## ref: https://kubernetes.io/docs/concepts/workloads/controllers/statefulset/#update-strategies
updateStrategy:
  type: RollingUpdate
revisionHistoryLimitCount: 10
minReadySeconds: 0
statefulsetAnnotations: {}
automountServiceAccountToken: true
## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
hostAliases: []
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
podLabels: {}
## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
podAnnotations: {}
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
podAffinityPreset: ""
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#inter-pod-affinity-and-anti-affinity
podAntiAffinityPreset: soft
## Ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/#node-affinity
nodeAffinityPreset:
  type: ""
  key: ""
  values: []
## Ref: https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#affinity-and-anti-affinity
affinity: {}
## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
nodeSelector: {}
## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
tolerations: []
## Ref: https://kubernetes.io/docs/concepts/workloads/pods/pod-topology-spread-constraints/#spread-constraints-for-pods
topologySpreadConstraints: []
podManagementPolicy: Parallel
## ref: https://kubernetes.io/docs/concepts/configuration/pod-priority-preemption/
priorityClassName: ""
## ref: https://kubernetes.io/docs/tasks/administer-cluster/configure-multiple-schedulers/
schedulerName: ""
## ref: https://kubernetes.io/docs/concepts/workloads/pods/pod/#termination-of-pods
terminationGracePeriodSeconds: ""
lifecycleHooks: {}
## ref: https://kubernetes.io/docs/concepts/services-networking/dns-pod-service/
dnsPolicy: ""
dnsConfig: {}
## Ref: https://kubernetes.io/docs/tutorials/services/connect-applications-service/#accessing-the-service
enableServiceLinks: true
extraVolumes: []
extraVolumeMounts: []
initContainers: []
sidecars: []
service:
  type: ClusterIP
  http:
    enabled: true
  ports:
    http: 80
    https: 443
  nodePorts:
    http: ""
    https: ""
  extraPorts: []
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/
  sessionAffinity: None
  sessionAffinityConfig: {}
  clusterIP: ""
  ## ref: https://kubernetes.io/docs/concepts/services-networking/service/#type-loadbalancer  ##
  loadBalancerIP: ""
  ## https://kubernetes.io/docs/tasks/access-application-cluster/configure-cloud-provider-firewall/#restrict-access-for-loadbalancer-service
  loadBalancerSourceRanges: []
  ## ref https://kubernetes.io/docs/tasks/access-application-cluster/create-external-load-balancer/#preserving-the-client-source-ip
  externalTrafficPolicy: Cluster
  annotations: {}
  headless:
    annotations: {}
    extraPorts: []
## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/
ingress:
  enabled: true
  pathType: Prefix
  apiVersion: ""
  hostname: keycloak.apps.k8s.enros.me
  ingressClassName: "traefik"
  controller: default
  path: /
  servicePort: http
  ## ref: https://cert-manager.io/docs/usage/ingress/#supported-annotations
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: websecure
    traefik.ingress.kubernetes.io/router.tls: "true"
    traefik.ingress.kubernetes.io/router.tls.certresolver: letsencrypt
    cert-manager.io/cluster-issuer: letsencrypt-production
    kubernetes.io/tls-acme: "true"  
  labels: {}
  tls: true
  selfSigned: false
  extraHosts: []
  extraPaths: []
  ## see: https://kubernetes.io/docs/concepts/services-networking/ingress/#tls
  extraTls: []
  secrets: []
  ## ref: https://kubernetes.io/docs/concepts/services-networking/ingress/#ingress-rules
  extraRules: []
## ref: https://kubernetes.io/docs/concepts/services-networking/network-policies/
networkPolicy:
  enabled: true
  allowExternal: true
  allowExternalEgress: true
  addExternalClientAccess: true
  kubeAPIServerPorts: [443, 6443, 8443]
  extraIngress: []
  extraEgress: []
  ingressPodMatchLabels: {}
  ingressNSMatchLabels: {}
  ingressNSPodMatchLabels: {}
## ref: https://kubernetes.io/docs/tasks/configure-pod-container/configure-service-account/
serviceAccount:
  create: true
  name: ""
  annotations: {}
  automountServiceAccountToken: true
  extraLabels: {}
## ref: https://kubernetes.io/docs/tasks/run-application/configure-pdb/
pdb:
  create: true
  minAvailable: ""
  maxUnavailable: ""
## ref: https://kubernetes.io/docs/concepts/workloads/autoscaling/
autoscaling:
  vpa:
    enabled: false
    annotations: {}
    controlledResources: []
    maxAllowed: {}
    minAllowed: {}
    updatePolicy:
      updateMode: Auto
  hpa:
    enabled: false
    minReplicas: 1
    maxReplicas: 11
    targetCPU: ""
    targetMemory: ""
    ## ref: https://kubernetes.io/docs/tasks/run-application/horizontal-pod-autoscale/#configurable-scaling-behavior
    behavior:
      scaleUp:
        stabilizationWindowSeconds: 120
        selectPolicy: Max
        policies: []
      scaleDown:
        stabilizationWindowSeconds: 300
        selectPolicy: Max
        policies:
          - type: Pods
            value: 1
            periodSeconds: 300
metrics:
  ## ref: https://github.com/bitnami/containers/tree/main/bitnami/keycloak#enabling-metrics
  enabled: false
  service:
    ports:
      metrics: 9000
    annotations:
      prometheus.io/scrape: "true"
      prometheus.io/port: "{{ .Values.metrics.service.ports.metrics }}"
    extraPorts: []
  serviceMonitor:
    enabled: false
    namespace: ""
    annotations: {}
    labels: {}
    jobLabel: ""
    honorLabels: false
    tlsConfig: {}
    ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
    interval: ""
    ## ref: https://github.com/coreos/prometheus-operator/blob/master/Documentation/api.md#endpoint
    scrapeTimeout: ""
    metricRelabelings: []
    relabelings: []
    ## ref: https://github.com/bitnami/charts/tree/main/bitnami/prometheus-operator#prometheus-configuration
    selector: {}
  prometheusRule:
    enabled: false
    namespace: ""
    labels: {}
    groups: []
## ref: https://github.com/adorsys/keycloak-config-cli
keycloakConfigCli:
  enabled: false
  ## ref: https://hub.docker.com/r/bitnami/keycloak-config-cli/tags/
  image:
    registry: docker.io
    repository: bitnami/keycloak-config-cli
    tag: 6.4.0-debian-12-r11
    digest: ""
    ## ref: https://kubernetes.io/docs/concepts/containers/images/#pre-pulled-images
    pullPolicy: IfNotPresent
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/pull-image-private-registry/
    pullSecrets: []
  annotations: {}
  command: []
  args: []
  automountServiceAccountToken: true
  ## https://kubernetes.io/docs/concepts/services-networking/add-entries-to-pod-etc-hosts-with-host-aliases/
  hostAliases: []
  ## ref: https://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
  ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
  resourcesPreset: "small"
  resources: {}
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
  containerSecurityContext:
    enabled: true
    seLinuxOptions: {}
    runAsUser: 1001
    runAsGroup: 1001
    runAsNonRoot: true
    privileged: false
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false
    capabilities:
      drop: ["ALL"]
    seccompProfile:
      type: "RuntimeDefault"
  ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-pod
  podSecurityContext:
    enabled: true
    fsGroupChangePolicy: Always
    sysctls: []
    supplementalGroups: []
    fsGroup: 1001
  ## ref: https://kubernetes.io/docs/concepts/workloads/controllers/job/#pod-backoff-failure-policy
  backoffLimit: 1
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/labels/
  podLabels: {}
  ## ref: https://kubernetes.io/docs/concepts/overview/working-with-objects/annotations/
  podAnnotations: {}
  ## ref: https://kubernetes.io/docs/concepts/scheduling-eviction/assign-pod-node/
  nodeSelector: {}
  ## ref: https://kubernetes.io/docs/concepts/configuration/taint-and-toleration/
  tolerations: []
  ## ref: https://github.com/adorsys/keycloak-config-cli#Configuration
  availabilityCheck:
    enabled: true
    timeout: ""
  extraEnvVars: []
  extraEnvVarsCM: ""
  extraEnvVarsSecret: ""
  extraVolumes: []
  extraVolumeMounts: []
  initContainers: []
  sidecars: []
  configuration: {}
  existingConfigmap: ""
  ## ref: https://kubernetes.io/docs/concepts/workloads/controllers/ttlafterfinished/
  cleanupAfterFinished:
    enabled: false
    seconds: 600
defaultInitContainers:
  prepareWriteDirs:
    enabled: true
    ## ref: https://kubernetes.io/docs/tasks/configure-pod-container/security-context/#set-the-security-context-for-a-container
    containerSecurityContext:
      enabled: true
      seLinuxOptions: {}
      runAsUser: 1001
      runAsGroup: 1001
      runAsNonRoot: true
      privileged: false
      readOnlyRootFilesystem: true
      allowPrivilegeEscalation: false
      capabilities:
        drop: ["ALL"]
      seccompProfile:
        type: "RuntimeDefault"
    ## ref: http://kubernetes.io/docs/concepts/configuration/manage-compute-resources-container/
    ## More information: https://github.com/bitnami/charts/blob/main/bitnami/common/templates/_resources.tpl#L15
    resourcesPreset: "nano"
    resources: {}
## ref: https://github.com/bitnami/charts/blob/main/bitnami/postgresql/values.yaml
postgresql:
  enabled: true
  auth:
    postgresPassword: ""
    username: bn_keycloak
    password: ""
    database: bitnami_keycloak
    existingSecret: "keycloak-helm"
    secretKeys:
      userPasswordKey: postgres-user-password
      adminPasswordKey: postgres-admin-password
  architecture: standalone
externalDatabase:
  host: ""
  port: 5432
  user: bn_keycloak
  database: bitnami_keycloak
  schema: public
  password: ""
  existingSecret: ""
  existingSecretUserKey: ""
  existingSecretPasswordKey: ""
  annotations: {}
  extraParams: ""
